*.log
*.last
*.png
*.pdf
*.fits
point_00187.dat
src_a.txt
src_a_dirty.txt
src_b.txt
src_b_dirty.txt
test.fits.txt
test.txt
test_00061_225_spw0.txt
test_00061_225_spw2.txt
test_00061_225_spw3.txt
test_00061_225_spw4.txt
test_00061_225_spw5.txt
test_090_spw0_b.txt
test_090_spw1_b.txt
test_090_spw2_b.txt
test_090_spw3_b.txt
test_140_spw0.txt
test_140_spw1.txt
test_140_spw3.txt
test_240_spw0_b.txt
test_240_spw1_b.txt
test_240_spw2_b.txt
test_240_spw3_b.txt
*.flux
*.image
*.mask:
*.model:
*.psf:
*.residual:
